@import "tailwindcss";
@plugin "daisyui";

html,
body {
  background-color: #000000 !important;
  color: #ffffff;
  min-height: 100%;
}

html {
  scrollbar-gutter: stable;
}

.button-shrink {
  transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
  .button-shrink:hover {
    transform: scale(0.9);
  }
}

.button-shrink:active {
  transform: scale(0.9);
}
